.grid__item {
  @include breakpoint($medium) { 
    width: span(5 of 10);
  }

  .archive__item-teaser {
    @include breakpoint($small) {
      max-height: unset;
    }

    @include breakpoint($medium) {
      max-height: unset;
    }
  }
}

.author__avatar img {
  max-width: 180px
}

.sidebar {
  opacity: 100%;
  transition: none;
}

.feature__wrapper {
  &.border-top {
    border-bottom: none;
    border-top: 1px solid $border-color;
  }
}

.archive .feature__wrapper .archive__item-title {
  margin-top: 0.5em;
}

code {
  white-space: pre-wrap !important;
}
